/* Share styles: */
.icon-facebook { color: #3b5998; }
.icon-twitter { color: #00aced; }
.icon-google-plus { color: #dd4b39; }
.icon-tumblr { color: #36465d; }
.icon-linkedin { color: #e9e9e9; }
.icon-reddit { color: #da5c26; }
